<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- include("partials/head") %>
</head>

<body>
    <%- include("partials/navigation") %>

    <!-- My Content -->
    <div id="mostrar_tabla2">
        <form action="<?php echo $_SERVER['PHP_SELF'];?>" name="tabla_datos" id="tabla_datos" method="POST">
            <table class="table table-striped" id="tabla" name="tabla" border="2" cellspacing="3" margin="auto"
                cellpadding="3" style="font-size: 20pt">
                <tr>
                    <td>Celda</td>
                    <td>Celda</td>
                </tr>
            </table>
        </form>
    </div>
    </main>
    <!-- FOOTER -->
    <%- include("partials/footer") %>
</body>

</html>