<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-blue">
  <div class="container p-2">
    <a class="navbar-brand" href="/home">
      <%= title %>
    </a>
     <!-- boton del menu -->
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
          <a class="nav-link d-flex align-items-center" href="/home">
            <span class="material-icons me-1">home</span>
            Inici
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link d-flex align-items-center" href="/dashboard">
            <span class="material-icons me-1">dashboard</span>
            Dashboard
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link d-flex align-items-center" href="/consulta">
            <span class="material-icons me-1">manage_search</span>
            Consulta de revisions
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link d-flex align-items-center" href="/assignacions?regini=0">
            <span class="material-icons me-1">shelves</span>
            Assignacions
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center" href="/backend">
            <span class="material-icons me-1">keyboard</span>
            Back End
          </a>
        </li>
     <li class="nav-item">
          <a class="nav-link d-flex align-items-center" href="/about">
            <span class="material-icons me-1">info</span>
            Info
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center" href="/contact">
            <span class="material-icons me-1">email</span>
            Contacte
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center" href="/">
            <span class="material-icons me-1">login</span>
            Login
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center" href="/">
            <span class="material-icons me-1">logout</span>
            Surt
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>