<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-blue">
  <div class="container p-2">
    <a class="navbar-brand" href="/backend">
      <%= title %>
    </a>
    <!-- boton del menu -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
          <a class="nav-link d-flex align-items-center" href="/home">
            <span class="material-icons me-1">home</span>
            Inici
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link d-flex align-items-center" href="/horaris?regini=0">
            <span class="material-icons me-1">calendar_month</span>
            Horaris
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link d-flex align-items-center" href="/carretons?regini=0">
            <span class="material-icons me-1">production_quantity_limits</span>
            Carretons
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link d-flex align-items-center" href="/professorat?regini=0">
            <span class="material-icons me-1">school</span>
            Professorat
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link d-flex align-items-center" href="/alumnat?regini=0">
            <span class="material-icons me-1">diversity_3</span>
            Alumnat
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link d-flex align-items-center" href="/ordinadors?regini=0">
            <span class="material-icons me-1">computer</span>
            Ordinadors
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link d-flex align-items-center" href="/departaments?regini=0">
            <span class="material-icons me-1">category</span>
            Departaments
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link d-flex align-items-center" href="/aules?regini=0">
            <span class="material-icons me-1">room_preferences</span>
            Aules
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link d-flex align-items-center" href="/cicles?regini=0">
            <span class="material-icons me-1">cyclone</span>
            Cicles
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link d-flex align-items-center" href="/grups?regini=0">
            <span class="material-icons me-1">groups</span>
            Grups
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link d-flex align-items-center" href="/config">
            <span class="material-icons me-1">settings</span>
            Configuracio
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>